<form class="auth-form" [formGroup]="form" (ngSubmit)="auth()">
    <div class="auth-title">Авторизация</div>
    <!--Если пользователь нажмет на поле и не заполнит его появится сообщение о том, что поле обязательное-->
    <div>
        <input class="auth-input" placeholder="Введите email" formControlName="email"/>
        <div class="auth-error" *ngIf="email.errors && email.touched">Это поле является обязательным</div>
    </div>
    <div>
        <input class="auth-input" type="password" placeholder="Введите пароль" formControlName="password"/>
        <div class="auth-error" *ngIf="password.errors && password.touched">Это поле является обязательным</div>
    </div>
    <!--Если с сервера пришла ошибка при авторизации отображаем ее-->
    <div class="auth-error" *ngIf="authService.authError$ | async as error">
        {{ error }}
    </div>
    <!--Пока пользователь не заполнит обязательные поля (email и пароль) кнопка для отправки запроса на авторизацию недоступна-->
    <button type="submit" [disabled]="email.errors || password.errors">Войти</button>
    <div>
        У вас еще нет аккаунта? 
        <a routerLink="/registration">Зарегистрироваться</a>
    </div>
</form>   