<form [formGroup]="form" (ngSubmit)="submit()" class="modal-form">
    <div>
        <textarea class="modal-body" formControlName="text"></textarea>
        <!--Если пользователь нажмет на поле и не заполнит его появится сообщение о том, что поле обязательное-->
        <div class="modal-error" *ngIf="text.errors && text.touched">Это поле является обязательным</div>
    </div>
    <input class="modal-button-file" type="file" (change)="onFileSelected($event)" accept="image/*">
    <button type="submit" [disabled]="text.errors">Сохранить</button>
</form>